form{
    width: 300px;
    margin: 0 auto;
}

fieldset{
    margin-bottom: 30px;
}

input[type="button"]{
    background-color: darkgreen;
    color: white;
    width: 50%;
    margin: 0 25%;
    padding: 4px;
    box-sizing: border-box;
    border: 0;
}