section{
    text-align: center;
}

#articulos{
    display: flex;
    justify-content: space-evenly;
    height: 440px;
}

#articulos article{
    width: 300px;
    height: 300px;
    border: 1px solid silver;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
    transition: 1.2s;
}

#articulos article:hover{
    height: 420px;
    transform: scale(1.1);
}

#articulos article img{
    width: 80%;
}

footer{
    text-align: center;
    width: 100%;
    background-color: azure;
}