#contenedor{
    width: 400px;
    margin: 0 auto;
}

#contenedor form > *{
    display: block;
    width: 100%;
    box-sizing: border-box;
}

label{
    text-align: center;
}

textarea{
    /* 
        Deshabilitamos que el usuario pueda cambiar el tamaño del textarea
    */
    resize: none;
    height: 24px;
    transition: 1s;
}

textarea:focus{
    height: 200px;
}

input,textarea{
    margin-bottom: 20px;
}