form {
  width: 400px;
  margin: 0 auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
}

form > * {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

label {
  font-size: 1.15rem;
  margin-bottom: 5px;
}

select,
input {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid lightgrey;
  margin-bottom: 20px;
  font-size: 1.2rem;
}

input[type="submit"] {
  background-color: cadetblue;
  color: white;
  font-weight: bold;
}

input:focus {
  outline: 0;
}
