#contenedor {
  width: 100%;
  height: 100vh;
  justify-content: space-evenly;
  display: flex;
}
#contenedor > div {
  background-color: blue;
  height: 150px;
  width: 150px;
  box-sizing: border-box;
}
@media (max-width: 800px) {
  #contenedor {
    flex-wrap: wrap;
  }
  #contenedor > div {
    width: 50%;
    margin: 10px;
  }
}
