body{
    /* 
        Reglas generales
        En este caso las veremos en "móviles"
    */  
    background-color: lightcyan;
    font-size: 1.2rem;
}

/* 
    En resoluciones de 700px y superiores en ancho cambia con estas reglas
*/

@media (min-width: 700px){
    body{
        background-color: lightpink;
        font-size: 2rem;
    }
}